/vendor
/node_modules
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
/public/storage
/storage/*.key
/storage/fonts/
admin_blade_diff.txt

# Thêm các file tạm thời khác
*.log
*.cache
*.tmp

# Loại trừ tất cả các file trong vendor
/vendor/**/*
